.main-header {
  font-weight: 600;
  padding: 5px 0px;
  color: black;
}

.textBtn > button {
  background-color: white;
  border: none;
  color: darkgray;
  margin: 0;
  padding-left: 0;
  margin-bottom: 18px;
  font-size: 14px;
}

.expand-following > button {
  font-size: 12px;
}
.textBtn > button:hover {
  color: black;
  cursor: pointer;
}

.bio {
  color: darkgray;
  margin-bottom: 18px;
  font-size: 16px;
}

.action-btns button {
  border-radius: 99em;
  box-shadow: none;
  font-size: 15px;
  padding: 10px;
  width: 80px;
}
.action-btns button:hover {
  cursor: pointer;
}

.action-btns {
  margin-bottom: 28px;
}
.follow-btn {
  border: none;
  background-color: rgb(26, 137, 23);
  color: white;
}

.unfollow {
  background-color: white;
  color: rgb(26, 137, 23);
  border: 1px solid rgb(26, 137, 23);
}

.following-peak h4 {
  margin: 7px 0px;
}
