a:link {
    text-decoration: none;
};

a:visited {
    text-decoration: none;
}

.stories-container{
    display: flex;
    flex-direction: column;
    max-width: 1030px;
    min-width: 552px;
    /* max-width: 792px; */
}


.stories-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 250px;
}

.stories-divider {
    border-bottom: .5px solid #dddddd;
    padding-bottom: 20px;
    padding-top: 20px;
}

.stories-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stories-author-info {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #292929;
    font-style: normal;
    line-height: 20px;
    vertical-align: bottom;
}

.profile-icon {
    max-width: 24px;
    padding-right: 3px;
    vertical-align: bottom;
}

.stories-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #292929;
    font-style: normal;
    line-height: 28px;
 }

.stories-content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    padding-right: 30px;
    max-height: 48px;
    white-space: wrap;
    overflow: clip;
    text-overflow: ellipsis;
    word-break: break-word;
    /* width: 420px; */
    text-decoration: none;
    padding-bottom: 35px;
 }

.stories-image-container{
    display: flex;
    flex-direction: row;
}

.stories-image{
    width: 200px;
    height: 134px;
    padding-bottom: 10px;
    object-fit: cover;
}

.stories-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    cursor: pointer;
}

.edit-story-button {
    padding: 4px 12px 6px;
    border-width: 1px;
    border-radius: 99em;
    font-size: 14px;
    overflow: visible;
    cursor: pointer;
    color:white ;
    border: 1px solid rgb(26, 137, 23);
    background-color:rgb(26, 137, 23) ;
}

.delete-story-button {
    padding: 4px 12px 6px;
    border-width: 1px;
    border-radius: 99em;
    font-size: 14px;
    overflow: visible;
    cursor: pointer;
    color:white ;
    border: 1px solid rgb(26, 137, 23);
    background-color:rgb(26, 137, 23) ;
}
