.follow-data-content {
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  background: transparent;
}


#follow-data {
  padding: 0;
  overflow-y: scroll;
  max-height: 70vh;
}

#follow-data::-webkit-scrollbar {
  width: 0
}

#follow-data-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.follow-user li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.follow-right-container {
  display: flex;
  flex-direction: row;
}

.follow-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.follow-name {
  margin-bottom: 5px;
  font-weight: 600;
}

.follow-bio {
  color: darkgray;
}

#x-container {
  display: flex;
  justify-content: right;
}

#x {
  text-align: right;
  width: 20px;
  color: grey
}
